<Header>
    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="container">
            <h1></h1>
        </div>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <button  class="btn" (click)="btn1()">Home</button>
        </li>
        <li class="nav-item">
            <button class="btn" (click)="btn2()">Portfolio</button>
        </li>
        <li class="nav-item">
            <button class="btn" (click)="btn3()">Menu</button>
        </li>
      </ul>
    </nav>
    <!-- <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#">Title</a>
        <div class="container">
            <h1></h1>
        </div>
        <button  class="btn" (click)="btn1()">Home</button>
        <button class="btn" (click)="btn2()">Portfolio</button>
        <button class="btn" (click)="btn3()">Menu</button>
       
       
      </nav> -->
    
    
      
      
   
    
    
</Header>
